* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body,
html,
#root {
  height: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
